
@mixin warning {
	background-color: orange;
	color: #fff;
}

@mixin box-shadow($shadows...) {
	box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
}
// will replace font-size, font-weight
@mixin large-text {
	font: {
		size: 22px;
		weight: bold;
	};
}

@mixin apply-to-ie-6 {
	* html {
		@content; 
		// will pull all the content u put in main.css under apply-to-ie-6
	}
}

@mixin rounded($radius: 6px) {
	border-radius: $radius;
}

@mixin box($radius: 6px, $border: 1px solid #000) {
 	@include rounded($radius);
 	border: $border;
}

@mixin fancy-links {
	a {
		font-style: italic;
		text-decoration: none;
	}
}