@mixin google-font($font) {
	$font: unquote($font);
	@import url(https://fonts.googleapis.com/css?family=#{$font})
}


/*
Strings are sequences of characters (specifically Unicode code points).
Sass supports two kinds of strings whose internal structure is the same
but which are rendered differently: quoted strings, like "Helvetica Neue",
and unquoted strings (also known as identifiers), like bold.
Together, these cover the different kinds of text that appear in CSS.
*/

@mixin warning {
	background-color: orange;
	color: #fff;
}

@mixin box-shadow($shadows...) {
	box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
}
// will replace font-size, font-weight
@mixin large-text {
	font: {
		size: 22px;
		weight: bold;
	};
}

@mixin apply-to-ie-6 {
	* html {
		@content; 
		// will pull all the content u put in main.css under apply-to-ie-6
	}
}

@mixin rounded($radius: 6px) {
	border-radius: $radius;
}

@mixin box($radius: 6px, $border: 1px solid #000) {
 	@include rounded($radius);
 	border: $border;
}

@mixin fancy-links {
	a {
		font-style: italic;
		text-decoration: none;
	}
}